.lightbox-container {
    .image-container {
        height: 100vh;
        max-height: 720px;
        background-image   : url("images/lightbox-background.png");
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
        border-radius: 15px 0 0 15px;
    }

    .content-container {
        padding: 4em 3em;

        .name {
            font-size: 36px;
            font-weight: 600;
            padding-bottom: .5em;
        }

        .department {
            font-size: 16px;
            font-weight: 600;
        }

        .text {
            padding: 2em 0;
        }

        .lightbox-btn {
            padding: .5em 0;
            font-size: 16px;
            font-weight: 600;
            color: black;
            border-bottom: 2px solid $blue-highlight;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $blue-highlight;
            }
        }

        .caption {
            padding-top: 13em;
        }
    }
}

.pum-container {
    top: 50%!important;
    transform: translateY(-50%)!important;
    margin: 0 !important;
    padding: 0 !important;
}

    // ---------------------------------------------------------------------------
    // Mobile
    // ---------------------------------------------------------------------------
    @media (max-width:767px) {
        .pum {
            display: none !important;
        }
    }