// =================================================================
// START HERO SECTION
// =================================================================

#alumni-hero {
    background-color: $navy;

    .hero-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .hero-content-container {
        padding-right: 5em;
    }

    .hero-title-wrap,
    .hero-text-wrap {
        color: $white;
    }

    .hero-title-wrap {
        padding-bottom: 2em;

        h1 {
            font-size: 60px;
            font-weight: 600;
        }
    }

    .hero-text-wrap {
        padding-bottom: 2em;
    }

    .hero-btn {
        display: inline-block;
        padding: 1em 2.5em;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 5px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $blue-highlight;
            border: 1px solid $blue-highlight;
        }
    }
    // ---------------------------------------------------------------------------
    // Tablet
    // ---------------------------------------------------------------------------
    @media (min-width:768px) and (max-width:1500px) {    
        padding: 7em 1em 3em 1em;

        .hero-container {
            max-width: 100%;
        }
    
        .hero-content-container {
            padding-right: 0;
        }
    
        .hero-title-wrap {
            h1 {
                font-size: 36px;
            }
        }
    
        .hero-btn {
            width: 100%;
            text-align: center;
        }

        .hero-image-container {
            display: none;
        }
    }
    // ---------------------------------------------------------------------------
    // Mobile
    // ---------------------------------------------------------------------------
    @media only screen and (max-width:767px) {
        padding: 7em 1em 3em 1em;

        .hero-container {
            max-width: 100%;
        }
    
        .hero-content-container {
            padding-right: 0;
        }
    
        .hero-title-wrap {
            h1 {
                font-size: 36px;
            }
        }
    
        .hero-btn {
            width: 100%;
            text-align: center;
        }

        .hero-image-container {
            display: none;
        }
    }
}

// =================================================================
// END HERO SECTION
// =================================================================

// =================================================================
// START INFO CARDS SECTION
// =================================================================

#alumni-info-cards {
    height: 100%;
    max-height: 600px;
    margin-bottom: 20em;
    background-color: $light-grey;

    .section-header-wrap {
        padding-bottom: 2em;
    }

    .section-header {
        font-size: 48px;
        font-weight: 600;
        text-align: center;
    }

    .info-card-container {
        width: 100%;
        max-width: 1446px;
        margin: 0 auto;
    }

    .info-card {
        width: auto;
        max-width: 450px;
        padding: 0;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 20px 20px rgba(0,0,0,0.06);
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
        }
    }

    .card-link {
        padding: 0;
    }

    .card-image {
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 275px;
        object-fit: cover;
        padding: 0;
        border-radius: 5px 5px 0 0;
    }

    .card-content {
        padding: 1.5em;
    }

    .card-title,
    .card-details {
        color: $dark-grey;
    }

    .card-title {
        padding-bottom: 1em;
        font-size: 21px;
        font-weight: 600;
    }

    .card-details {
        color: $mid-grey;
    }

    .card-btn {
        margin-top: auto;
        padding-top: 2em;
        text-decoration: underline;
    }
    // ---------------------------------------------------------------------------
    // Tablet
    // ---------------------------------------------------------------------------
    @media (min-width:768px) and (max-width:1500px) {    
        height: auto;
        max-height: 100%;
        padding: 0 1em 3em 1em;
        margin-bottom: 3em;

        .section-header {
            font-size: 36px;
        }

        .info-card-container {
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
        }
    
        .info-card {
            max-width: 100%;
            margin: 0 0 1.5em 0;
            z-index: 1;
        }

        .card-image {
            max-width: 700px;
        }
    }
    // ---------------------------------------------------------------------------
    // Mobile
    // ---------------------------------------------------------------------------
    @media only screen and (max-width:767px) {
        height: auto;
        max-height: 100%;
        padding: 0 1em 3em 1em;
        margin-bottom: 2em;

        .section-header {
            font-size: 36px;
        }

        .info-card-container {
            width: 100%;
            max-width: 100%;
        }
    
        .info-card {
            max-width: 100%;
            margin: 0 0 1.5em 0;
            z-index: 1;
        }
    }
}

// =================================================================
// END INFO CARDS SECTION
// =================================================================

// =================================================================
// START PROGRAM PERKS SECTION
// =================================================================

// #alumni-perks {

//     // ---------------------------------------------------------------------------
//     // Tablet
//     // ---------------------------------------------------------------------------
//     @media (min-width:768px) and (max-width:1500px) {    

//     }
//     // ---------------------------------------------------------------------------
//     // Mobile
//     // ---------------------------------------------------------------------------
//     @media only screen and (max-width:767px) {

//     }
// }

// =================================================================
// END PROGRAM PERKS SECTION
// =================================================================